<div>vamos a trabajar con websockets

    <h1>Lista de productos</h1>
    <ul>
        {{#each products}}
        <li>{{this.title}}</li>
        
        {{/each}}
    </ul>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="js/script.js"></script>