<div>
    <h1>Productos en tiempo real</h1>
    <ul id="productList">
        {{#each products}}
        <li>{{this.title}}</li>
        {{/each}}
    </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/script.js"></script>